
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #094549;
    color: white;
    text-align: center;
    transition: background-color 0.3s;
    z-index: 1000;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-item {
    margin: 0 15px;
}

.nav-item a {
    color: rgb(245, 242, 242);
    text-decoration: none;
    padding: 15px;
    display: block;
    transition: color 0.3s;
}

.nav-item a:hover {
    color: #13b6ae; 
}

.scrolled {
    background-color: #094549; 
}

.content {
    padding-top: 20px; 
}

.whole{
    background:#c4e4e5;
}

section {
    height: 70vh;
    padding: 20px;
    border-bottom: 1px solid #073e46;
}
